{"openapi":"3.0.0","info":{"version":"v1","title":"Misskey API","description":"\n# Permissions\n|Permisson (kind)|Description|Endpoints|\n|:--|:--|:--|\n|read:account|アカウントの情報を見る|[antennas/list](#operation/antennas/list), [antennas/notes](#operation/antennas/notes), [antennas/show](#operation/antennas/show), [clips/list](#operation/clips/list), [clips/notes](#operation/clips/notes), [clips/show](#operation/clips/show), [i/get-word-muted-notes-count](#operation/i/get-word-muted-notes-count), [users/lists/list](#operation/users/lists/list), [users/lists/show](#operation/users/lists/show), [users/recommendation](#operation/users/recommendation)|\n|write:account|アカウントの情報を変更する|[antennas/create](#operation/antennas/create), [antennas/delete](#operation/antennas/delete), [antennas/update](#operation/antennas/update), [clips/create](#operation/clips/create), [clips/delete](#operation/clips/delete), [clips/update](#operation/clips/update), [i/pin](#operation/i/pin), [i/read-all-messaging-messages](#operation/i/read-all-messaging-messages), [i/read-all-unread-notes](#operation/i/read-all-unread-notes), [i/read-announcement](#operation/i/read-announcement), [i/unpin](#operation/i/unpin), [i/update](#operation/i/update), [notes/watching/create](#operation/notes/watching/create), [notes/watching/delete](#operation/notes/watching/delete), [users/lists/create](#operation/users/lists/create), [users/lists/delete](#operation/users/lists/delete), [users/lists/pull](#operation/users/lists/pull), [users/lists/push](#operation/users/lists/push), [users/lists/update](#operation/users/lists/update)|\n|read:blocks|ブロックを見る|[blocking/list](#operation/blocking/list)|\n|write:blocks|ブロックを操作する|[blocking/create](#operation/blocking/create), [blocking/delete](#operation/blocking/delete)|\n|read:drive|ドライブを見る|[drive](#operation/drive), [drive/files](#operation/drive/files), [drive/files/attached-notes](#operation/drive/files/attached-notes), [drive/files/check-existence](#operation/drive/files/check-existence), [drive/files/find-by-hash](#operation/drive/files/find-by-hash), [drive/files/find](#operation/drive/files/find), [drive/files/show](#operation/drive/files/show), [drive/folders](#operation/drive/folders), [drive/folders/find](#operation/drive/folders/find), [drive/folders/show](#operation/drive/folders/show), [drive/stream](#operation/drive/stream)|\n|write:drive|ドライブを操作する|[drive/files/create](#operation/drive/files/create), [drive/files/delete](#operation/drive/files/delete), [drive/files/update](#operation/drive/files/update), [drive/files/upload-from-url](#operation/drive/files/upload-from-url), [drive/folders/create](#operation/drive/folders/create), [drive/folders/delete](#operation/drive/folders/delete), [drive/folders/update](#operation/drive/folders/update)|\n|read:favorites|お気に入りを見る|[i/favorites](#operation/i/favorites)|\n|write:favorites|お気に入りを操作する|[notes/favorites/create](#operation/notes/favorites/create), [notes/favorites/delete](#operation/notes/favorites/delete)|\n|read:following|フォローの情報を見る|[following/requests/list](#operation/following/requests/list)|\n|write:following|フォロー・フォロー解除する|[following/create](#operation/following/create), [following/delete](#operation/following/delete), [following/requests/accept](#operation/following/requests/accept), [following/requests/cancel](#operation/following/requests/cancel), [following/requests/reject](#operation/following/requests/reject)|\n|read:messaging|チャットを見る|[messaging/history](#operation/messaging/history), [messaging/messages](#operation/messaging/messages)|\n|write:messaging|チャットを操作する|[messaging/messages/create](#operation/messaging/messages/create), [messaging/messages/delete](#operation/messaging/messages/delete), [messaging/messages/read](#operation/messaging/messages/read)|\n|read:mutes|ミュートを見る|[mute/list](#operation/mute/list)|\n|write:mutes|ミュートを操作する|[mute/create](#operation/mute/create), [mute/delete](#operation/mute/delete)|\n|write:notes|ノートを作成・削除する|[notes/create](#operation/notes/create), [notes/delete](#operation/notes/delete), [notes/unrenote](#operation/notes/unrenote)|\n|read:notifications|通知を見る|[i/notifications](#operation/i/notifications)|\n|write:notifications|通知を操作する|[notifications/create](#operation/notifications/create), [notifications/mark-all-as-read](#operation/notifications/mark-all-as-read)|\n|read:reactions|リアクションを見る||\n|write:reactions|リアクションを操作する|[notes/reactions/create](#operation/notes/reactions/create), [notes/reactions/delete](#operation/notes/reactions/delete)|\n|write:votes|投票する|[notes/polls/vote](#operation/notes/polls/vote)|\n|read:pages|ページを見る|[i/pages](#operation/i/pages)|\n|write:pages|ページを操作する|[pages/create](#operation/pages/create), [pages/delete](#operation/pages/delete), [pages/update](#operation/pages/update)|\n|write:page-likes|ページのいいねを操作する|[pages/like](#operation/pages/like), [pages/unlike](#operation/pages/unlike)|\n|read:page-likes|ページのいいねを見る|[i/page-likes](#operation/i/page-likes)|\n|read:user-groups|ユーザーグループを見る|[i/user-group-invites](#operation/i/user-group-invites), [users/groups/joined](#operation/users/groups/joined), [users/groups/owned](#operation/users/groups/owned), [users/groups/show](#operation/users/groups/show)|\n|write:user-groups|ユーザーグループを操作する|[users/groups/create](#operation/users/groups/create), [users/groups/delete](#operation/users/groups/delete), [users/groups/invitations/accept](#operation/users/groups/invitations/accept), [users/groups/invitations/reject](#operation/users/groups/invitations/reject), [users/groups/invite](#operation/users/groups/invite), [users/groups/pull](#operation/users/groups/pull), [users/groups/transfer](#operation/users/groups/transfer), [users/groups/update](#operation/users/groups/update)|\n|read:channels|チャンネルを見る|[channels/followed](#operation/channels/followed), [channels/owned](#operation/channels/owned)|\n|write:channels|チャンネルを操作する|[channels/create](#operation/channels/create), [channels/follow](#operation/channels/follow), [channels/unfollow](#operation/channels/unfollow), [channels/update](#operation/channels/update)|\n","x-logo":{"url":"/assets/api-doc.png"}},"externalDocs":{"description":"Repository","url":"https://github.com/syuilo/misskey"},"servers":[{"url":"https://misskey.io/api"}],"paths":{"/admin/abuse-user-reports":{"post":{"operationId":"admin/abuse-user-reports","summary":"admin/abuse-user-reports","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/abuse-user-reports.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"limit":{"default":10,"type":"number","nullable":false,"minimum":1,"maximum":100},"sinceId":{"type":"string","example":"xxxxxxxxxx","format":"id","nullable":false},"untilId":{"type":"string","example":"xxxxxxxxxx","format":"id","nullable":false}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/accounts/create":{"post":{"operationId":"admin/accounts/create","summary":"admin/accounts/create","description":"No description provided.\n\n**Credential required**: *No*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/accounts/create.ts"},"tags":["admin"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["username","password"],"properties":{"username":{"type":"string","nullable":false},"password":{"type":"string","nullable":false,"minLength":1}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/announcements/create":{"post":{"operationId":"admin/announcements/create","summary":"admin/announcements/create","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/announcements/create.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["title","text","imageUrl"],"properties":{"title":{"type":"string","nullable":false,"minLength":1},"text":{"type":"string","nullable":false,"minLength":1},"imageUrl":{"type":"string","nullable":true,"minLength":1}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/announcements/delete":{"post":{"operationId":"admin/announcements/delete","summary":"admin/announcements/delete","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/announcements/delete.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["id"],"properties":{"id":{"type":"string","example":"xxxxxxxxxx","format":"id","nullable":false}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"NO_SUCH_ANNOUNCEMENT":{"value":{"error":{"message":"No such announcement.","code":"NO_SUCH_ANNOUNCEMENT","id":"ecad8040-a276-4e85-bda9-015a708d291e"}}},"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/announcements/list":{"post":{"operationId":"admin/announcements/list","summary":"admin/announcements/list","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/announcements/list.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"limit":{"default":10,"type":"number","nullable":false,"minimum":1,"maximum":100},"sinceId":{"type":"string","example":"xxxxxxxxxx","format":"id","nullable":false},"untilId":{"type":"string","example":"xxxxxxxxxx","format":"id","nullable":false}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/announcements/update":{"post":{"operationId":"admin/announcements/update","summary":"admin/announcements/update","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/announcements/update.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["id","title","text","imageUrl"],"properties":{"id":{"type":"string","example":"xxxxxxxxxx","format":"id","nullable":false},"title":{"type":"string","nullable":false,"minLength":1},"text":{"type":"string","nullable":false,"minLength":1},"imageUrl":{"type":"string","nullable":true,"minLength":1}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"NO_SUCH_ANNOUNCEMENT":{"value":{"error":{"message":"No such announcement.","code":"NO_SUCH_ANNOUNCEMENT","id":"d3aae5a7-6372-4cb4-b61c-f511ffc2d7cc"}}},"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/delete-all-files-of-a-user":{"post":{"operationId":"admin/delete-all-files-of-a-user","summary":"admin/delete-all-files-of-a-user","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/delete-all-files-of-a-user.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["userId"],"properties":{"userId":{"description":"対象のユーザーID","type":"string","example":"xxxxxxxxxx","format":"id","nullable":false}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/delete-logs":{"post":{"operationId":"admin/delete-logs","summary":"admin/delete-logs","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/delete-logs.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/drive/clean-remote-files":{"post":{"operationId":"admin/drive/clean-remote-files","summary":"admin/drive/clean-remote-files","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/drive/clean-remote-files.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/drive/cleanup":{"post":{"operationId":"admin/drive/cleanup","summary":"admin/drive/cleanup","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/drive/cleanup.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/drive/files":{"post":{"operationId":"admin/drive/files","summary":"admin/drive/files","description":"No description provided.\n\n**Credential required**: *No*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/drive/files.ts"},"tags":["admin"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"limit":{"default":10,"type":"number","nullable":false,"minimum":1,"maximum":100},"offset":{"type":"number","nullable":false},"sort":{"type":"string","nullable":false,"enum":["+createdAt","-createdAt","+size","-size"]},"origin":{"default":"local","type":"string","nullable":false,"enum":["combined","local","remote"]}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/drive/show-file":{"post":{"operationId":"admin/drive/show-file","summary":"admin/drive/show-file","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/drive/show-file.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["fileId"],"properties":{"fileId":{"type":"string","example":"xxxxxxxxxx","format":"id","nullable":false}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"NO_SUCH_FILE":{"value":{"error":{"message":"No such file.","code":"NO_SUCH_FILE","id":"caf3ca38-c6e5-472e-a30c-b05377dcc240"}}},"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/emoji/add":{"post":{"operationId":"admin/emoji/add","summary":"admin/emoji/add","description":"カスタム絵文字を追加します。\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/emoji/add.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["fileId"],"properties":{"fileId":{"type":"string","example":"xxxxxxxxxx","format":"id","nullable":false}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"MO_SUCH_FILE":{"value":{"error":{"message":"No such file.","code":"MO_SUCH_FILE","id":"fc46b5a4-6b92-4c33-ac66-b806659bb5cf"}}},"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/emoji/copy":{"post":{"operationId":"admin/emoji/copy","summary":"admin/emoji/copy","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/emoji/copy.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["emojiId"],"properties":{"emojiId":{"type":"string","example":"xxxxxxxxxx","format":"id","nullable":false}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"NO_SUCH_EMOJI":{"value":{"error":{"message":"No such emoji.","code":"NO_SUCH_EMOJI","id":"e2785b66-dca3-4087-9cac-b93c541cc425"}}},"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/emoji/list-remote":{"post":{"operationId":"admin/emoji/list-remote","summary":"admin/emoji/list-remote","description":"カスタム絵文字を取得します。\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/emoji/list-remote.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"host":{"type":"string","nullable":true},"limit":{"default":10,"type":"number","nullable":false,"minimum":1,"maximum":100},"sinceId":{"type":"string","example":"xxxxxxxxxx","format":"id","nullable":false},"untilId":{"type":"string","example":"xxxxxxxxxx","format":"id","nullable":false}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/emoji/list":{"post":{"operationId":"admin/emoji/list","summary":"admin/emoji/list","description":"カスタム絵文字を取得します。\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/emoji/list.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"limit":{"default":10,"type":"number","nullable":false,"minimum":1,"maximum":100},"sinceId":{"type":"string","example":"xxxxxxxxxx","format":"id","nullable":false},"untilId":{"type":"string","example":"xxxxxxxxxx","format":"id","nullable":false}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/emoji/remove":{"post":{"operationId":"admin/emoji/remove","summary":"admin/emoji/remove","description":"カスタム絵文字を削除します。\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/emoji/remove.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["id"],"properties":{"id":{"type":"string","example":"xxxxxxxxxx","format":"id","nullable":false}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"NO_SUCH_EMOJI":{"value":{"error":{"message":"No such emoji.","code":"NO_SUCH_EMOJI","id":"be83669b-773a-44b7-b1f8-e5e5170ac3c2"}}},"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/emoji/update":{"post":{"operationId":"admin/emoji/update","summary":"admin/emoji/update","description":"カスタム絵文字を更新します。\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/emoji/update.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["id","name","aliases"],"properties":{"id":{"type":"string","example":"xxxxxxxxxx","format":"id","nullable":false},"name":{"type":"string","nullable":false},"category":{"type":"string","nullable":true},"aliases":{"type":"array","nullable":false,"items":{"type":"string","nullable":false}}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"NO_SUCH_EMOJI":{"value":{"error":{"message":"No such emoji.","code":"NO_SUCH_EMOJI","id":"684dec9d-a8c2-4364-9aa8-456c49cb1dc8"}}},"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/federation/delete-all-files":{"post":{"operationId":"admin/federation/delete-all-files","summary":"admin/federation/delete-all-files","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/federation/delete-all-files.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["host"],"properties":{"host":{"type":"string","nullable":false}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/federation/remove-all-following":{"post":{"operationId":"admin/federation/remove-all-following","summary":"admin/federation/remove-all-following","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/federation/remove-all-following.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["host"],"properties":{"host":{"type":"string","nullable":false}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/federation/update-instance":{"post":{"operationId":"admin/federation/update-instance","summary":"admin/federation/update-instance","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/federation/update-instance.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["host","isSuspended"],"properties":{"host":{"type":"string","nullable":false},"isSuspended":{"type":"boolean","nullable":false}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/get-table-stats":{"post":{"operationId":"admin/get-table-stats","summary":"admin/get-table-stats","description":"undefined\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/get-table-stats.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/invite":{"post":{"operationId":"admin/invite","summary":"admin/invite","description":"招待コードを発行します。\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/invite.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/logs":{"post":{"operationId":"admin/logs","summary":"admin/logs","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/logs.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"limit":{"default":30,"type":"number","nullable":false,"minimum":1,"maximum":100},"level":{"type":"string","nullable":true},"domain":{"type":"string","nullable":true}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/moderators/add":{"post":{"operationId":"admin/moderators/add","summary":"admin/moderators/add","description":"指定したユーザーをモデレーターにします。\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/moderators/add.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["userId"],"properties":{"userId":{"description":"対象のユーザーID","type":"string","example":"xxxxxxxxxx","format":"id","nullable":false}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/moderators/remove":{"post":{"operationId":"admin/moderators/remove","summary":"admin/moderators/remove","description":"指定したユーザーをモデレーター解除します。\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/moderators/remove.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["userId"],"properties":{"userId":{"description":"対象のユーザーID","type":"string","example":"xxxxxxxxxx","format":"id","nullable":false}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/promo/create":{"post":{"operationId":"admin/promo/create","summary":"admin/promo/create","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/promo/create.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["noteId","expiresAt"],"properties":{"noteId":{"type":"string","example":"xxxxxxxxxx","format":"id","nullable":false},"expiresAt":{"type":"number","nullable":false}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"NO_SUCH_NOTE":{"value":{"error":{"message":"No such note.","code":"NO_SUCH_NOTE","id":"ee449fbe-af2a-453b-9cae-cf2fe7c895fc"}}},"ALREADY_PROMOTED":{"value":{"error":{"message":"The note has already promoted.","code":"ALREADY_PROMOTED","id":"ae427aa2-7a41-484f-a18c-2c1104051604"}}},"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/queue/clear":{"post":{"operationId":"admin/queue/clear","summary":"admin/queue/clear","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/queue/clear.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/queue/deliver-delayed":{"post":{"operationId":"admin/queue/deliver-delayed","summary":"admin/queue/deliver-delayed","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/queue/deliver-delayed.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/queue/inbox-delayed":{"post":{"operationId":"admin/queue/inbox-delayed","summary":"admin/queue/inbox-delayed","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/queue/inbox-delayed.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/queue/jobs":{"post":{"operationId":"admin/queue/jobs","summary":"admin/queue/jobs","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/queue/jobs.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["domain","state"],"properties":{"domain":{"type":"string","nullable":false,"enum":["deliver","inbox","db","objectStorage"]},"state":{"type":"string","nullable":false,"enum":["active","waiting","delayed"]},"limit":{"default":50,"type":"number","nullable":false}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/queue/stats":{"post":{"operationId":"admin/queue/stats","summary":"admin/queue/stats","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/queue/stats.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/relays/add":{"post":{"operationId":"admin/relays/add","summary":"admin/relays/add","description":"Add relay\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/relays/add.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["inbox"],"properties":{"inbox":{"type":"string","nullable":false}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_URL":{"value":{"error":{"message":"Invalid URL","code":"INVALID_URL","id":"fb8c92d3-d4e5-44e7-b3d4-800d5cef8b2c"}}},"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/relays/list":{"post":{"operationId":"admin/relays/list","summary":"admin/relays/list","description":"List relay\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/relays/list.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/relays/remove":{"post":{"operationId":"admin/relays/remove","summary":"admin/relays/remove","description":"Remove relay\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/relays/remove.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["inbox"],"properties":{"inbox":{"type":"string","nullable":false}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/remove-abuse-user-report":{"post":{"operationId":"admin/remove-abuse-user-report","summary":"admin/remove-abuse-user-report","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/remove-abuse-user-report.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["reportId"],"properties":{"reportId":{"type":"string","example":"xxxxxxxxxx","format":"id","nullable":false}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/reset-password":{"post":{"operationId":"admin/reset-password","summary":"admin/reset-password","description":"指定したユーザーのパスワードをリセットします。\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/reset-password.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["userId"],"properties":{"userId":{"description":"対象のユーザーID","type":"string","example":"xxxxxxxxxx","format":"id","nullable":false}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/resync-chart":{"post":{"operationId":"admin/resync-chart","summary":"admin/resync-chart","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/resync-chart.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/send-email":{"post":{"operationId":"admin/send-email","summary":"admin/send-email","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/send-email.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["to","subject","text"],"properties":{"to":{"type":"string","nullable":false},"subject":{"type":"string","nullable":false},"text":{"type":"string","nullable":false}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/server-info":{"post":{"operationId":"admin/server-info","summary":"admin/server-info","description":"undefined\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/server-info.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/show-moderation-logs":{"post":{"operationId":"admin/show-moderation-logs","summary":"admin/show-moderation-logs","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/show-moderation-logs.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"limit":{"default":10,"type":"number","nullable":false,"minimum":1,"maximum":100},"sinceId":{"type":"string","example":"xxxxxxxxxx","format":"id","nullable":false},"untilId":{"type":"string","example":"xxxxxxxxxx","format":"id","nullable":false}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/show-user":{"post":{"operationId":"admin/show-user","summary":"admin/show-user","description":"指定したユーザーの情報を取得します。\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/show-user.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["userId"],"properties":{"userId":{"description":"対象のユーザーID","type":"string","example":"xxxxxxxxxx","format":"id","nullable":false}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532"}}}}}}},"401":{"description":"Authentication error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"CREDENTIAL_REQUIRED":{"value":{"error":{"message":"Credential required.","code":"CREDENTIAL_REQUIRED","id":"1384574d-a912-4b81-8601-c7b1c4085df1"}}}}}}},"403":{"description":"Forbiddon error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"AUTHENTICATION_FAILED":{"value":{"error":{"message":"Authentication failed. Please ensure your token is correct.","code":"AUTHENTICATION_FAILED","id":"b0a7f5f8-dc2f-4171-b91f-de88ad238e14"}}}}}}},"418":{"description":"I'm Ai","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"I_AM_AI":{"value":{"error":{"message":"You sent a request to Ai-chan, Misskey's showgirl, instead of the server.","code":"I_AM_AI","id":"60c46cd1-f23a-46b1-bebe-5d2b73951a84"}}}}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INTERNAL_ERROR":{"value":{"error":{"message":"Internal error occurred. Please contact us if the error persists.","code":"INTERNAL_ERROR","id":"5d37dbcb-891e-41ca-a3d6-e690c97775ac"}}}}}}}}}},"/admin/show-users":{"post":{"operationId":"admin/show-users","summary":"admin/show-users","description":"No description provided.\n\n**Credential required**: *Yes*","externalDocs":{"description":"Source code","url":"https://github.com/syuilo/misskey/blob/develop/src/server/api/endpoints/admin/show-users.ts"},"tags":["admin"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"limit":{"default":10,"type":"number","nullable":false,"minimum":1,"maximum":100},"offset":{"type":"number","nullable":false},"sort":{"type":"string","nullable":false,"enum":["+follower","-follower","+createdAt","-createdAt","+updatedAt","-updatedAt"]},"state":{"default":"all","type":"string","nullable":false,"enum":["all","available","admin","moderator","adminOrModerator","silenced","suspended"]},"origin":{"default":"local","type":"string","nullable":false,"enum":["combined","local","remote"]},"username":{"type":"string","nullable":false},"hostname":{"type":"string","nullable":false}}}}}},"responses":{"204":{"description":"OK (without any results)"},"400":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"INVALID_PARAM":{"value":{"error":{"message":"Invalid param.","code":"INVALID_PARAM","id":"3d81ceae-475f-4600-b2a8-2bc116157532
[...]
