[Desktop Entry]
Encoding=UTF-8
Version=1.5
Categories=Network;InstantMessaging;GTK;
Comment=The comfy Fediverse client
Exec=kaiteki
GenericName=Micro-blogging client
Icon=kaiteki
Name=Kaiteki
Type=Application