name: flutter analyze

on:
  push:
    branches:
      - master
    paths:
      - "src/kaiteki/**"
  pull_request:
    branches:
      - master
    paths:
      - "src/kaiteki/**"
  workflow_dispatch:

jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'master'
      - run: flutter pub get
      - name: Run flutter analyze
        uses: invertase/github-action-dart-analyzer@v2.0.0
